<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Tailwind CSS - MAPtm template">
  <meta name="author" content="by MAPtm">

  <title>Levi's test | Contact</title>

  <!-- Leaflet -->

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- Charts.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Configuration -->
  <script defer src="../../config.min.js" inline></script>

  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="../../assets/tailwind.min.css" inline>
  <!-- AWS Cognito -->
  <script defer src="../../assets/aws-sdk-2.610.0.min.js"></script>
  <script defer src="../../assets/amazon-cognito-identity.min.js"></script>
  <script defer src="../../assets/maptm_cognito.js"></script>

  <!-- Charts.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Alpine.js -->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js" defer></script>

  <!-- Diff.js -->
  <script defer src="../../assets/diff.js"></script>

  <!-- Helper functions -->
  <script defer src="../../assets/helper_functions.js"></script>

  <!-- Main -->
  <link rel="stylesheet" href="../../main.css" inline>
  <script defer src="../../main.min.js" inline></script>

  <!-- Other JavaScript dependencies -->

</head>

<body data-app="home" class="bg-violet-50 min-h-screen relative">
  <!-- application header -->
  <header>
    <div class=" bg-gradient-to-bl from-gray-900 to-gray-700 py-4 font-poppins text-cyan-300" x-data="{show: false}">
      <!-- MOBILE MENU -->
      <div class="sm:hidden transition duration-300">
        <div class="container flex justify-between relative">
          <div>
            <a href="/">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-400" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
          <button @click="show = ! show">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <nav x-show="show" class="container py-3 flex flex-col absolute bg-blue-700 w-full mt-4">
          <a href="/" class="p-4 w-full hover:bg-cyan-900 hover:text-white rounded-md bg-opacity-80 cursor-pointer">
            <span>Home</span>
          </a>
          <a href="/about"
            class="p-4 w-full hover:bg-cyan-900 hover:text-white rounded-md bg-opacity-80 cursor-pointer">
            <span>About</span>
          </a>
          <a href="/contact"
            class="p-4 w-full hover:bg-cyan-900 hover:text-white rounded-md bg-opacity-80 cursor-pointer">
            <span>Contact</span>
          </a>
        </nav>
      </div>
      <!-- DESKTOP MENU -->
      <div class="hidden sm:flex justify-between container transition duration-300">

        <div class="flex items-center">
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-400" viewBox="0 0 20 20"
              fill="currentColor">
              <path fill-rule="evenodd"
                d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
        <nav class="flex items-center">
          <a href="/"
            class="p-4 w-full hover:bg-cyan-900 hover:text-white rounded-md bg-opacity-80 cursor-pointer"><span>Home</span></a>
          <a href="/about"
            class="p-4 w-full hover:bg-cyan-900 hover:text-white rounded-md bg-opacity-80 cursor-pointer"><span>About</span></a>
          <a href="/contact"
            class="p-4 w-full hover:bg-cyan-900 hover:text-white rounded-md bg-opacity-80 cursor-pointer"><span>Contact</span></a>
        </nav>
      </div>
    </div>
  </header>

  <div class="container mt-16">
    <h1 class="text-center text-cyan-600 text-4xl font-poppins font-bold">Hier komt meer...</h1>
    <div class="container">
      <canvas id="mychart">

      </canvas>
    </div>
  </div>

  <!-- Alpine.js dependencies -->
  <script src="./_imports/alpine_func_footer.min.js"></script>
</body>

</html>